@import "variables";

body {
  font-family: #{$dynamic-font-name}, cursive;
}

h1,
h2 {
  color: $primary-color;
}

.wf-loading:before {
  content: "Loading...";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
}
